<div class="row">
    <div class="col-md-4 ml-5">
        <h3>Seleccione archivos</h3>

        <div appNgDropFiles (mouseSobre)="estaSobreElemento = $event" [ngClass]="{'file-over':'estaSobreElemento'}" class="well drop-zone">
            <h4>Deje caer aquí los archivos</h4>
            <img src="assets/drop-images.png" />
        </div>
    </div>
    <div class="col-md-7">
        <h4>Cargar archivos</h4>
        <button (click)="cargarImagenes()" [disabled]="archivos.length === 0" class="btn btn-success mr-2">Cargar</button>
        <button class="btn btn-danger">Limpiar</button>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre archivo</th>
                    <th>Tamaño</th>
                    <th>Progreso</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>XYZ</td>
                    <td>12 MB</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 25%;">25%</div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>