<h4>Formularios <small> template </small></h4>
<hr />
<form autocomplete="off" (ngSubmit)="guardar(forma)" #forma="ngForm">
    <div>
        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">
                <!-- <input class="form-control" name='nombre' [class.is-invalid]="(nombre.invalid && nombre.touched) || (nombre.invalid && forma.submitted)" [ngModel]="usuario.nombre" required minlength="5" type="text" placeholder="Nombre" #nombre="ngModel" /> -->
                <input class="form-control" name='nombre' [class.is-invalid]="nombre.invalid && nombre.touched" [ngModel]="usuario.nombre" required minlength="5" type="text" placeholder="Nombre" #nombre="ngModel" />
                <small *ngIf="nombre.invalid && nombre.touched" class="form-text text-danger">Ingrese 5 letras</small>
            </div>

        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col-8">
                <input class="form-control" [class.is-invalid]="apellido.invalid && apellido.touched" name="apellido" required [ngModel]="usuario.apellido" #apellido="ngModel" type="text" placeholder="Apellido" />
                <small *ngIf="apellido.invalid && apellido.touched" class="form-text text-danger">Ingrese 5 letras</small>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col-8">
            <input class="form-control" type="email" [class.is-invalid]="email.invalid && email.touched" name="email" required [ngModel]="usuario.correo" #email="ngModel" placeholder="Correo electrónico" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" />
            <small *ngIf="email.invalid && email.touched" class="form-text text-danger">Ingrese un correo valido</small>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Genero</label>
        <div class="col-8">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="genero" [class.is-invalid]="genero.invalid && genero.touched" #genero="ngModel" required value="M" [ngModel]="usuario.genero">
                <label class="form-check-label">Masculino</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="genero" [class.is-invalid]="genero.invalid && genero.touched" #genero="ngModel" required value="F" [ngModel]="usuario.genero">
                <label class="form-check-label">Femenino</label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Pais</label>
        <div class="col-8">
            <select class="form-control" name="pais" [class.is-invalid]="pais.invalid && pais.touched" #pais="ngModel" [disabled]="paises.length === 0" [ngModel]="usuario.pais" required>
            <option *ngFor="let pais of paises" [value]="pais.codigo">
              {{pais.nombre}}
            </option>
          </select>
            <small *ngIf="pais.invalid && pais.touched" class="form-text text-danger">Pais es obligatorio</small>

        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
        </div>
    </div>
</form>
