<h4>Formularios <small> template </small></h4>
<hr />
<form autocomplete="off" (ngSubmit)="guardar(forma)" #forma="ngForm">
    <div>
        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">
                <input class="form-control" name='nombre' [class.is-invalid]="nombre.invalid && nombre.touched" [ngModel]="usuario.nombre" required minlength="5" type="text" placeholder="Nombre" #nombre="ngModel" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col-8">
                <input class="form-control" [class.is-invalid]="apellido.invalid && apellido.touched" name="apellido" required [ngModel]="usuario.apellido" #apellido="ngModel" type="text" placeholder="Apellido" />
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col-8">
            <input class="form-control" type="email" [class.is-invalid]="email.invalid && email.touched" name="email" required [ngModel]="usuario.correo" #email="ngModel" placeholder="Correo electrónico" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
        </div>
    </div>
</form>
